{% extends 'marketplace/dashboard.html' %}
{% block field_page %}
<h5 class='text-center pb-5'> Register a Store</h5>
<p class='col-12'>
  Before proceeding, you are required to pay a store registration fee
  of {{config.STORE_REG_AMT}} or its
  equivalent in your currency.
  Kindly click on the payment button below to get started
</p>
<form class='col text-center'>
  <script src='https://checkout.flutterwave.com/v3.js'></script>
  <button type='button' onClick='makePayment()' class='btn btn-success col-6 m-4'>Pay Now</button>
</form>

<script>
  function makePayment() {
    FlutterwaveCheckout({
      public_key: '{{ config.FLW_PUB_KEY }}',
      tx_ref: 'Reg/{{ current_user.id }}/{{ store_num }}',
      amount: "{{ config['STORE_REG_AMT'] }}".split(' ')[0],
      currency: "{{ config['STORE_REG_AMT'] }}".split(' ')[1],
      payment_options: 'card',
      customer: {
        email: '{{ current_user.email }}',
        name: '{{ current_user.name }}',
      },
      callback: function (flw_response) {
        $.ajax({
          type: 'POST',
          url: "{{ url_for('flutterwave.callback_store_payment') }}",
          data: JSON.stringify(flw_response),
          headers: { 'X-CSRFToken': '{{ csrf_token() }}' },
          contentType: 'application/json; charset=utf-8',
          success: function (data, textStatus) {
            console.log(data)
            if (data.redirect) {
              // data.redirect contains the string URL to redirect to
              window.location.href = data.redirect;
            } else {
              console.log('This should never happen: contact us')
            }
          },
        });
      },
      onclose: function () {
        console.log('Closed')
      },
      customizations: {
        title: 'Registration Fee',
        description: 'This is a one-off fee',
        logo: "{{ url_for('marketplace.static', filename='marketplace/img/site_logo.png', _external=True) }}",
      },
    });
  }
</script>
{% endblock field_page %}